---
const personalImageAlt = "Daniel Seiler"
import Badge from "./Badge.astro"
import LinkedInIcon from "./icons/LinkedIn.astro"
import MailIcon from "./icons/Mail.astro"
import SocialPill from "./SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/profile.jpeg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/seilerdaniel/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Daniel Seiler
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Desarrollador Frontend <strong
      >De Buenos Aires, Argentina </strong
    >Especializado en diseñar y desarrollar aplicaciones webs.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:seilerdaniel86@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/seilerdaniel/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
